<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>
      YTDL-Querier
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="danger" fill="clear" (click)="reset()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-input placeholder="Enter URL" [(ngModel)]="url"></ion-input>
  <ion-button expand="block" (click)="fetch()">Query</ion-button>

  <ion-card *ngFor="let urlInfo of urlInfos">
    <img src="{{urlInfo.thumbnail}}">
    <ion-card-header>
      <ion-card-subtitle>{{ urlInfo.extractor }}</ion-card-subtitle>
      <ion-card-title>{{ urlInfo.fullTitle }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="urlInfo && urlInfo.formats">
        <ion-item *ngFor="let format of urlInfo.formats">
          <ion-label>
            <a href="{{format.url}}">{{ format.format }}</a>
            <p>{{ (format.filesize / 1000000) | number:'1.1-1' }}MB</p>
          </ion-label>

          <ion-button color="warning" slot="end" fill="clear" (click)="copyToClipboard(format.url)">
            <ion-icon slot="icon-only" name="clipboard"></ion-icon>
          </ion-button>
          <ion-button color="success" slot="end" fill="clear" (click)="openVlc(format.url)">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
