<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>
      YTDL-Querier
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="danger" (click)="reset()">
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-input placeholder="Enter URL" [(ngModel)]="url"></ion-input>
  <ion-button expand="block" (click)="fetch()">Query</ion-button>

  <ion-card *ngFor="let urlInfo of urlInfos">
    <img src="{{urlInfo.thumbnail}}">
    <ion-card-header>
      <ion-card-subtitle>{{ urlInfo.extractor }}</ion-card-subtitle>
      <ion-card-title>{{ urlInfo.fullTitle }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="urlInfo && urlInfo.formats">
        <ion-item *ngFor="let format of urlInfo.formats">
          <ion-label><a href="{{format.url}}">{{ format.format }}</a></ion-label>

          <ion-icon (click)="copyToClipboard(format.url)" slot="end" name="clipboard"></ion-icon>
          <ion-icon (click)="openVlc(format.url)" slot="end" name="play"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
